<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148107057844-22qimglbldmju72jhjk8jnq76ngqc30i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148107057844-22qimglbldmju72jhjk8jnq76ngqc30i</string>
	<key>API_KEY</key>
	<string>AIzaSyBjFnEjgJVX0s3vTwp2maUpjBLJyi2P9jI</string>
	<key>GCM_SENDER_ID</key>
	<string>148107057844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.p</string>
	<key>PROJECT_ID</key>
	<string>read-c53b3</string>
	<key>STORAGE_BUCKET</key>
	<string>read-c53b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148107057844:ios:554276580119ada07255e1</string>
</dict>
</plist>